header ul{
    display: flex;
    list-style: none;  
    justify-content: center; 
    text-align: center;  
}

#fotourso{
    padding-right: 10px;
}
header ul li{
    
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    padding: 5px;
}



section{
    background-color: #f4f4f4;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}



.leftblock{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    width: 600px;
}



.logo01 img{
    clip-path: polygon(5% 25%, 50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%);
}



.bloco1{
    border: solid black 1px;
    margin: 5px;
}



.imgEsquerdo{
    width: 100%;
}



.icone{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.icone img{
    clip-path: circle(50% at 50% 50%);
    height: 50px;
}



.bloco2{
    background-color: white;
    margin: 20px;
    display: flex;
    height: 95px;
}



button{
    height: 50px;
}



.central{
    background-color: white;
    border: solid black 1px;
    width: 1200px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.central2{
    text-align: center;
    display: flex;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.data{
    padding-right: 110px;
}
.Jane{
    text-align: center;
    display: flex;
}
.data img{


    clip-path: circle(50% at 50% 50%);
    height: 50px;
}


.downbelow{
    padding: 15px;
    margin-top: 180px;
}
.downbelow img{
    width: 100%;
}